// Bootstrap/Docsy variable overrides here
$primary: #6250E7;
$secondary: #8B81E3;
$info: #8B81E3;
$gray-100: #fafafa;

$display1-weight: 300;
$display2-weight: 300;

$link-color: #4A37F1;

$enable-rounded: false;